<div class="artwork__wrapper">
	<div class="artwork-images">
		{{ images }}
	</div>
	<div class="artwork-metadata">
		<h2 class="artwork-metadata__title">{{ title }}</h2>
		<div class="artwork-metadata__dates">{{ dates }}</div>
		<div class="artwork-metadata__materials">{{ materials }}</div>
		<div class="artwork-metadata__dimensions">{{ dimensions }}</div>
	</div>
</div>
