<div class="artwork_metadata">
	<h2 class="title">{{ title }}</div>
	<div class="artwork__dates">{{ dates }}</div>
	<div class="artwork__materials">{{ materials }}</div>
	<div class="artwork_dimensions">{{ dimensions }}</div>
</div>

<div class="artwork__images">
	<div class="artwork_dimensions">{{ images }}</div>
</div>
