<div class="wrapper exhibition__teaser">

	<div class="wrapper exhibition__marquee">
		<div class="field image exhibition__marquee">{{ marquee }}</div>
	</div>

	<div class="wrapper exhibition__metadata">
		<div class="field term exhibition__type">{{ type }}</div>
		<h2 class="field text exhibition__artists">{{ artists }}</h2>
		<h2 class="field text exhibition__title">{{ title }}</h2>
		<div class="field date exhibition__dates">{{ dates }}</div>
	</div>
</div>
