<div class="work__image--landscape image-landscape">
	{{ image }}
</div>

	<div class="work__metadata">
		<h2 class="work__title">{{ title }}</h2>
    <div class="work__date">{{ date }}</div>
    <div class="work__materials">{{ materials }}</div>
    <div class="work__dimensions">{{ dimensions }}</div>
	</div>
